body{
    background-color: rgb(204, 193, 179);
}

h1{
    color: rgb(234, 0, 0);
    font-family: 'Segoe UI';
    font-size: 60px;
}

h2{
    font-family: Verdana;
}

p{
    font-family: Verdana;
    font-size: 20px;
    text-align: justify;
    
    text-align: center;
    color: black;
}

/*
img{
    width:500px;height: 500px;       -*_*_*_*_*_*_*_*_*_* ESTO ES OPCIONAL *_*_*_*_*_*_*_*_*_*_*-
}
*/

a{
    text-align: center;
    color: blueviolet;
}

/*FUENTE EN NEGRITA*/ 

h3{
    font-family: Verdana, bold;
    font-size: 20px;
}